 body {
      margin: 0;
      font-family: Arial, sans-serif;
    }



.card {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      max-width: 400px;
      margin: auto;
    }

    .card img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }

    .info h2 {
      margin: 0;
      font-size: 1.2rem;
    }

    .info p {
      margin: 0.3rem 0 0;
      color: #555;
      font-size: 0.9rem;
    }

   
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      padding: 0.5rem 1rem;
    }


    .logo {
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: none;
    }

   
    .nav-links {
      display: flex;
      gap: 1rem;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      padding: 0.5rem;
      transition: background 0.3s;
    }

    .nav-links a:hover {
      background-color: #575757;
      border-radius: 4px;
    }

    
    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }

    .hamburger span {
      height: 3px;
      width: 25px;
      background: white;
      margin: 4px 0;
      border-radius: 2px;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 15px;
      padding: 20px;
    }

    .gallery img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }

    .gallery img:hover {
      transform: scale(1.05);
    }

    .container1{
      display: grid;
      grid-template-columns: 3fr 1fr; 
      gap: 20px;
      padding: 20px;
    }

    .main {
      background: white;
      padding: 1rem;
      border-radius: 8px;
    }

    .sidebar {
      background: #eee;
      padding: 1rem;
      border-radius: 8px;
    }

    article {
      margin-bottom: 1.5rem;
    }

    article h2 {
      margin: 0 0 0.5rem;
    }




    @media (max-width: 600px) {
      .card {
        flex-direction: column;
        text-align: center;
      }
      .nav-links {
        display: none; 
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 1rem;
      }

      .nav-links.active {
        display: flex;
      }

      .hamburger {
        display: flex; 
      }

      .gallery {
        grid-template-columns: 1fr; 
      }
      .gallery img {
        height: auto; 
      }

      .container {
        grid-template-columns: 1fr;
      }
      .sidebar {
        margin-top: 1rem;
      }

    }

    @media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}


