.box {
    border: 3px solid black;
    border-radius: 10px;  
    margin-left: 550px;
    margin-right: 550px;
    background-color: rgb(243, 241, 238);
    border: none;

}

.home{
    padding-left: 18px;

}

.home-page{
   
    padding-left: 18px;
    width: 700px;
}

.About{
    padding-left: 18px;
}


.about-me{

    padding-left: 18px;
    width: 700px;
}

.Contact{
    padding-left: 18px;
    
}


.contact-me{
    padding-left: 20px;
    width:227px;
    line-height: 1.6;

}
