body{
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  font-family: Arial, Helvetica, sans-serif;
  height: 1900px;
}

.all-box{
  margin-left:25px;
}

.product-box{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  width:350px;
  border-radius: 15px;
  
}

.product-box:hover{
  padding:5px;
  transition:400ms;
}

.pexels{
  width:290px;
  height:370px;
  object-fit: fill;
  margin-left:30px;
  margin-top:25px;
}

.sale-bage{
  position:absolute;
  background-color:whitesmoke;
  font-weight: bold;
  left:60px;
  margin-top:15px;
  padding:5px;
  border-radius:5px;
  box-shadow: 1px 1px 5px 1px gray;
  
}

.price-tag{
  display: flex;
  gap:20px;
  justify-content: center;
}

.dash-text{
  text-decoration: line-through;
}

.product-info{
  display:flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: bold;
}

.header-bar{
  box-shadow: 2px 2px 2px 2px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border-radius: 10px;
  position:sticky;
  width: 98%;
  top: 0;
}

.icons-imag{
  width:40px;
  
}

a{
  text-decoration: none;
  font-size:18px;
  color: white;
}

.nav-title{
  display: flex;
  gap:30px;
  margin-left:420px;
  font-weight: bold;
  
  
}

.sidebar{
  display: flex;
  margin-right:30px;
  gap:30px;
  align-items: center;
}

.floating-contact-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.main-contact-btn {
  background-color: #fccb90;
  font-weight: bold;
  padding:5px;
  border: none;
  font-size:20px;
}

.contact-options {
  display: none;
}

.contact-options.active {
  display: block; 
}


.container {
   
    position: relative; 
    min-height: 500px; 
    border: 1px solid #ccc;
    padding: 20px;
    background-color:whitesmoke;
    border-radius:45px;
    box-shadow: 1px 1px 7px 1px black;
}

.modal {
    display: none;
    position: absolute; 
    z-index: 1; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 80%; 
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.modal-content {
   
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.box1{
      
      width: 190px;
      height: 190px;
      margin-top:5px;
      z-index: 1;
      object-fit:cover;

    }

    .box2{
      width: 190px;
      height: 190px;
      margin-top:25px;
      z-index:4;
      margin-left:20px;
      object-fit: cover;
    }

    .box3{
      
      width: 190px;
      height: 190px;
      margin-top:65PX;
      z-index: 5;
      margin-left:40px;
      object-fit: cover;
    }

    .box{
      position:absolute;
      left:70px;
    }