h3{
    padding-left:25px;
    font-size: 28px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium';
    background-color: rgb(182, 165, 145);
    cursor: pointer;
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-style:double
    
}

.introdition{

    padding-left: 26px;
    margin-bottom: 45px;
    font-size: 18px;
    font-family:Arial;
    
}


.about{

    padding-left: 26px;
    margin-bottom: 45px;
    font-size: 18px;
     font-family:Arial;
     cursor: pointer;
}



.mail{

    padding-left: 26px;
    font-size: 18px;
    font-family:Arial; 
    
}


.Phone1{
     
    padding-left: 26px;
    font-size: 18px;
     font-family:Arial;
}

.visit{

    padding-left: 26px;
    font-size: 18px;
     font-family:Arial;
}
